<div class="" *ngIf="successModal">
  <div class="modal d-block pos-static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body tx-center pd-y-20 pd-x-20">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
          <i class="icon ion-ios-checkmark-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
          <h4 class="tx-success mg-b-20">Success!</h4>
          <p class="mg-b-20 mg-x-20">{{message.text}}</p>
          <button type="button" class="btn btn-success pd-x-25" (click)="closeModal()">Okay</button>
        </div><!-- modal-body -->
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->
</div><!-- modal-wrapper-demo -->

<!-- errror dilog -->
<div class="" *ngIf="errorModal">
  <div class="modal d-block pos-static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body tx-center pd-y-20 pd-x-20">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
          <i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
          <h4 class="tx-danger mg-b-20">Error: Cannot process your entry!</h4>
          <p class="mg-b-20 mg-x-20">{{message.text}}</p>
          <button type="button" class="btn btn-danger pd-x-25" aria-label="Close" (click)="closeModal()">Okay</button>
        </div><!-- modal-body -->
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->
</div><!-- modal-wrapper-demo -->

<div *ngIf="confirmModal" class="modal d-block pos-static" style="position: absolute;background: #0000008a;">
  <div class="modal-dialog" role="document">
    <div class="modal-content bd-0">
      <div class="modal-header pd-y-20 pd-x-25">
        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">{{message.confirmType}} Confirmation</h6>
        <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body pd-25">
        <h5 class="lh-4 mg-b-20 tx-inverse" *ngIf="message.confirmType=='Activate'">Are you sure want to activate?</h5>
        <h5 class="lh-4 mg-b-20 tx-inverse" *ngIf="message.confirmType=='Deactivate'">Are you sure want to deactivate?</h5>
        <p class="mg-b-5" *ngIf="message.confirmType=='Activate'">Once you activated item will be available to view </p>
        <p class="mg-b-5" *ngIf="message.confirmType=='Deactivate'">Once you deactivated item will be unavailable to view </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" *ngIf="message.confirmType=='Activate'" (click)="confirmAction()">Activate</button>
        <button type="button" class="btn btn-primary" *ngIf="message.confirmType=='Deactivate'" (click)="confirmAction()">Deactivate</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
      </div>
    </div>
  </div>
</div><!-- modal -->
